# Operating System Files
*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build && Package Files
bin/
target/
build/
*.class
*.jar
*.war
*.ear

#IntelliJ IDEA Files
.idea/*
*.iml

# Circuit Diagram Files
*.png
*.svg

#Archives
*.tgz
*.gz

#Log Files
*.log

#All Hidden
.*

# Virtual machine crash logs
hs_err_pid*

# Exclusions FIiles
!.gitignore
