<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
            <div class = "container"  th:fragment="error-detail">
                <h1>Oops</h1>
                <table >
                    <tr>
                        <td>Custom Message</td>
                        <td th:text="${er.comment}"/>
                    </tr>
                    <tr>
                        <td>Exception Message</td>
                        <td th:text="${er.message}"/>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td th:text="${er.timestamp}"/>
                    </tr>
                    <tr>
                        <td>Details</td>
                        <td th:text="${er.details}"/>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td th:text="${er.status}"/>
                    </tr>
                </table>
            </div>
            <div id = "status" class = "container" th:fragment="error-404">
                <pre>
                    <output>
==============NOT====FOUND==============

   //   ||     //|||||\\       //   ||
  //    ||    ||    / /||     //    ||
 //     ||    ||   / / ||    //     ||
/////////|\   ||  / /  ||   /////////|\
        \|    || / /   ||           \|
        ||    ||/ /    ||           ||
        ||     \\|||||//            ||

===============          ===============
                    </output>
                </pre>
            </div>
            <div id = "status" class = "container" th:fragment="error-400">
                <pre>
                    <output>
==============BAD===REQUEST=============

   //   ||     //|||||\\     //|||||\\
  //    ||    ||    / /||   ||    / /||
 //     ||    ||   / / ||   ||   / / ||
/////////|\   ||  / /  ||   ||  / /  ||
        \|    || / /   ||   || / /   ||
        ||    ||/ /    ||   ||/ /    ||
        ||     \\|||||//     \\|||||//

===============          ===============
                    </output>
                </pre>
            </div>
    </body>
</html>