<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SG</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all"th:href="@{/css/main.css}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/error.css}"/>
    </head>
    <body>
        <div th:replace = "top :: top"></div>
        <div id = "middle" class = "frame">
            <div class = "container"  th:replace = "error-detail :: ${vw}"></div>
            <div class = "container"  th:replace = "error-detail :: error-detail" th:if = "${er != null}"></div>
        </div>
        <div th:replace = "bottom :: bottom"></div>
    </body>
</html>