<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id = "detail" class = "container"  th:fragment="error-detail">
            <th:block th:unless="${detail}">
                <p class="output">Last login: <span class="attention" th:text = "${#dates.createNow()}"></span></p>
                <p class="output"><span class="login"></span>status: <span class="attention">404 NOT_FOUND</span></p>
                <p class="output"><span class="login"></span>comment: The page you are looking for might have been removed, had its name changed, its temporarily unavailable or you are lost your way</p>
            </th:block>
            <th:block th:if = "${detail}">
                <p class="output">Last login: <span class="attention" th:text = "${detail.timestamp}"></span></p>
                <p class="output"><span class="login"></span>status: <span class="attention" th:text = "${detail.status}"></span></p>
                <p class="output"><span class="login"></span>comment: <span class="attention" th:text = "${detail.comment}"></span></p>
                <p class="output"><span class="login"></span>message: <span class="attention" th:text = "${detail.message}"></span></p>
            </th:block>
            <p class="output"><span class="login"></span>say: Please try go to the main page</p>
            <p class="output"><span class="login"></span>say: Good luck</p>
        </div>
        <div id = "code" class = "container" th:fragment="error-code">
            <th:block th:switch = "${detail != null ? #strings.substringBefore(detail.status, ' ') : '404'}">
                <th:block th:case = "404">
                    <pre>
                        <output>
========================================

   //   ||     //|||||\\       //   ||
  //    ||    ||    / /||     //    ||
 //     ||    ||   / / ||    //     ||
/////////|\   ||  / /  ||   /////////|\
        \|    || / /   ||           \|
        ||    ||/ /    ||           ||
        ||     \\|||||//            ||

==============           ===============
                        </output>
                    </pre>
                </th:block>
                <th:block th:case = "400">
                    <pre>
                        <output>
========================================

   //   ||     //|||||\\     //|||||\\
  //    ||    ||    / /||   ||    / /||
 //     ||    ||   / / ||   ||   / / ||
/////////|\   ||  / /  ||   ||  / /  ||
        \|    || / /   ||   || / /   ||
        ||    ||/ /    ||   ||/ /    ||
        ||     \\|||||//     \\|||||//

==============           ===============
                        </output>
                    </pre>
                </th:block>
            </th:block>
        </div>
    </body>
</html>