<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.1.10.2.min.js}"></script>
</head>
<body>
    <div th:replace = "top.html :: top"></div>
    <div id = "middle" class = "frame">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/error.css}"/>
        <div class = "container">
            <h1>Oops</h1>
            <table>
                <tr>
                    <td>Custom Message</td>
                    <td th:text="${error.comment}"/>
                </tr>
                <tr>
                    <td>Exception Message</td>
                    <td th:text="${error.message}"/>
                </tr>
                <tr>
                    <td>Time</td>
                    <td th:text="${error.timestamp}"/>
                </tr>
                <tr>
                    <td>Details</td>
                    <td th:text="${error.details}"/>
                </tr>
            </table>
        </div>
    </div>
    <div th:replace = "bottom.html :: bottom"></div>
    </body>
</html>