#search-form {
    align-self: center;
    width: 400px;
    flex: 1 1 20%;
}

form {
    position: relative;
    width: 100%;
    /**/
        border: 2px solid blue;
}

input, button {
    outline: none;
    background: transparent;
}

input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 385px;
    height: 42px;
    padding-left: 15px;
    border: 3px solid  #98FB98;
    color: #F0FFF0;
}

.search:hover input {
    border-color: #F0FFF0;
}

.search:hover button {
    color: #98FB98;
}

#search:focus {
    border-color: #98FB98;
}

#search:focus + button {
    color: #98FB98;
}

button {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0px;
    right: 0px;
    border: none;
    cursor: pointer;
    color: #F0FFF0;
}

button:before {
    content: "\2192";
    font-family: FontAwesome;
    font-size: 28px;
}

.autocomplete-suggestions {
  width: 400px;
  outline: none;
  overflow: auto;
  margin-top: -3px;
  background: transparent;
  border: 3px solid #98FB98;
  color: #F0FFF0;
  cursor: pointer;
}

.autocomplete-suggestions:focus + #search + button {
    border-color: #98FB98;
    color: #98FB98;
}

.autocomplete-suggestion {
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    font-size:14px;
}

.autocomplete-selected {
    background: #98FB98;
    color: #F0FFF0;
}
.autocomplete-suggestions strong {
    color: #98FB98;
}

.autocomplete-selected strong {
    color: #F0FFF0;
}