#search-form {
    flex: 0 0 45px;
    align-self: center;
    width: 300px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: stretch;
}

input, button {
    outline: none;
    background: transparent;
    height: 30px;
}

input {
    flex: 0 0 258px;
    padding-left: 15px;
    border-bottom: 2px solid #98FB98;
    color: #F0FFF0;
}

button {
    flex: 0 0 38px;
    height: 32px;
    cursor: pointer;
    color: #404040;
    background-color: #98FB98;
    border: 2px solid #98FB98;
}

input:hover {
    color: #F0FFF0;
    background-color: #F0FFF0;
    color: #404040;
    border-bottom: 2px solid #F0FFF0;
}

button:hover {
    color: #F0FFF0;
    background-color: #F0FFF0;
    color: #404040;
    border: 2px solid #F0FFF0;
}

input:focus {
    background-color: #F0FFF0;
    color: #404040;
    border-bottom: 2px solid #98FB98;
}

input:focus + button {
    background-color: #F0FFF0;
    color: #404040;
    border: 2px solid #98FB98;
}

button:before {
    content: "\2192";
    font-family: FontAwesome;
    font-size: 28px;
}

.autocomplete-suggestions {
  width: 343px;
  outline: none;
  overflow: auto;
  margin-top: 3px;
  background-color: #404040;
  border-bottom: 2px solid #98FB98;
  color: #F0FFF0;
  cursor: pointer;
}

.autocomplete-suggestion {
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    font-size:12px;
}

.autocomplete-selected {
    background: #98FB98;
    color: #F0FFF0;
}
.autocomplete-suggestions strong {
    color: #98FB98;
}

.autocomplete-selected strong {
    color: #F0FFF0;
}

#search-map {
    align-self: center;
    flex: 0 0 75%;
    width: 60%;
    border: 3px solid  #98FB98;
}

#map {
    width: 100%;
    height: 100%;
}