#search-form {
    flex: 0 0 45px;
    align-self: center;
    width: 400px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: stretch;
}

input, button {
    outline: none;
    background: transparent;
    height: 30px;
}

input {
    flex: 0 0 358px;
    padding-left: 15px;
    color: #F0FFF0;
    box-shadow: inset 0 -3px 0px 0px #98FB98;
}

button {
    flex: 0 0 40px;
    cursor: pointer;
    color: #404040;
    background-color: #98FB98;
    box-shadow: inset 0 0px 0px 3px #98FB98;
}

input:hover, input:focus {
    background-color: #F0FFF0;
    color: #404040;
    box-shadow: inset 0 0px 0px 3px #98FB98;
}

input:hover + button,  input:focus + button, button:hover {
    color: #F0FFF0;
}

button:before {
    content: "\2192";
    font-family: FontAwesome;
    font-size: 23px;
}

.autocomplete-suggestions {
  width: 356px;
  outline: none;
  overflow: auto;
  margin-top: 3px;
  background-color: #404040;
  box-shadow: inset 0 0px 0px 3px #98FB98;
  color: #F0FFF0;
  cursor: pointer;
}

.autocomplete-suggestion {
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    font-size:12px;
}

.autocomplete-selected {
    background: #98FB98;
    color: #F0FFF0;
}
.autocomplete-suggestions strong {
    color: #98FB98;
}

.autocomplete-selected strong {
    color: #F0FFF0;
}

#search-map {
    align-self: center;
    flex: 0 0 75%;
    width: 60%;
    box-shadow: 0 0px 0px 3px #98FB98;
}

#map {
    width: 100%;
    height: 100%;
}