.autocomplete-suggestions {
  width: 300px;
  outline: none;
  overflow: auto;
  background: transparent;
  border: 3px solid #98FB98;
  color: #F0FFF0;
  cursor: pointer;
}

.autocomplete-suggestion {
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    font-size:14px;
}

.autocomplete-selected {
    background: #98FB98;
    color: #F0FFF0;
}
.autocomplete-suggestions strong {
    color: #98FB98;
}

.autocomplete-selected strong {
    color: #F0FFF0;
}