<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>sGIS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    </head>
    <body>
        <div id = "top" class = "frame" th:include = "top :: top"></div>
        <div id = "main" class = "frame">
            <div id = "search-form" class = "container" th:include = "search-form :: search-form"></div>
        </div>
        <div id = "bottom" class = "frame" th:include = "bottom :: bottom"></div>
        <script type="text/javascript" src="../static/js/jquery.1.10.2.min.js" th:src="@{/js/jquery.1.10.2.min.js}"></script>
        <script type="text/javascript" src="../static/js/jquery.autocomplete.min.js" th:src="@{/js/jquery.autocomplete.min.js}" ></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
                $(document).ready(function() {
                    let markers = {};
                    $('#search-input').autocomplete({
                        serviceUrl: './api/gis/getAddressObjects',
                        paramName: "street",
                        delimiter: ",",
                        transformResult: function(response) {
                            /*for (var key in markers) {
                                mymap.removeLayer(markers[key]);
                            }*/

                            return {suggestions: $.map($.parseJSON(response), function(item) {
                                    //markers[item.id] = new L.marker([item.lat, item.lon]);

                                    //mymap.addLayer(markers[item.id]);

                                    //marker = L.marker([item.lat, item.lon]).addTo(mymap);

                                    return {value: item.city
                                        + "," + item.street
                                        + "-" + item.number, data: item.id};})};
                        }
                    });
                });
            /*]]>*/
        </script>
    </body>
</html>