<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
    <body>
        <div th:fragment = "search-form" >
            <link rel="stylesheet" type="text/css" media="all" href="../static/css/search-form.css" th:href="@{/css/search-form.css}"/>
            <form action="#" th:action="@{/search}" th:object="${searchRequest}" method="post">
                <input id = "search" type = "text" placeholder="search..." th:field="*{content}"/>
                <button type="submit" value="Search"></button>
            </form>
            <script type="text/javascript" src="../static/js/jquery.1.10.2.min.js" th:src="@{/js/jquery.1.10.2.min.js}"></script>
            <script type="text/javascript" src="../static/js/jquery.autocomplete.min.js" th:src="@{/js/jquery.autocomplete.min.js}" ></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                    $(document).ready(function() {
                        let markers = {};
                        $('#search').autocomplete({
                            serviceUrl: './api/gis/getAddressObjects',
                            paramName: "street",
                            delimiter: ",",
                            transformResult: function(response) {
                                for (var key in markers) {
                                    mymap.removeLayer(markers[key]);
                                }

                                return {suggestions: $.map($.parseJSON(response), function(item) {
                                        markers[item.id] = new L.marker([item.lat, item.lon]);

                                        mymap.addLayer(markers[item.id]);

                                        //marker = L.marker([item.lat, item.lon]).addTo(mymap);

                                        return {value: item.city
                                            + "," + item.street
                                            + "-" + item.number, data: item.id};})};
                            }
                        });
                    });
                /*]]>*/
            </script>
        </div>
    </body>
</html>