<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Search</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/search.css" th:href="@{/css/search.css}"/>
    </head>
    <body>
        <div id = "search">
            <form action="#" th:action="@{/search}" th:object="${searchRequest}" method="post">
                <input type = "text" placeholder="search..." th:field="*{content}"/>
                <button type="submit" value="Search"></button>
            </form>
            <div id = "result" th:if="${not #lists.isEmpty(searchResult)}">
                <h2>Search Result</h2>
                <table class="table table-striped">
                    <tr>
                        <th>aoid</th>
                        <th>formal name</th>
                    </tr>
                    <tr th:each="address : ${searchResult}">
                        <td th:text="${address.aoid}"></td>
                        <td th:text="${address.formalName}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:insert="~{footer :: bottom}"></div>
    </body>
</html>