<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="search-map">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
            <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
            <link rel="stylesheet" type="text/css" media="all" href="../static/css/search-map.css" th:href="@{/css/search-map.css}"/>
            <div id = "map" ></div>
            <script th:inline="javascript">

                let x = new Map('map', 55.04, 82.90, 2);

                console.log(x.getMap());


                /*<![CDATA[*/

                mapEnambled = true;



                $(document).ready(function() {
                    let sr = [[${searchResult}]];
                    console.log(sr.content);

                    x.addMarker([[${lon}]], [[${lat}]], sr.content, 15);

                });

                /*]]>*/
            </script>
        </div>
    </body>
</html>