<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
    <body>
        <div th:fragment = "search-form" >
            <form id = "search-from" action="#" th:action="@{/all/search}" th:object="${searchRequest}" method = "get">
                <input id = "search" type = "text" placeholder="search..." th:field="*{content}"/>
                <button type="submit" value="Search" id="bth-search"></button>
            </form>
            <script type="text/javascript" src="../static/js/jquery.autocomplete.min.js" th:src="@{/js/jquery.autocomplete.min.js}" ></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                    console.log("2: " + map.getMap());

                    $(document).ready(function() {

                        console.log("3: " + map.getMap());

                        $( "#search" ).autocomplete({
                            serviceUrl: './getAddressObjects',
                            paramName: "street",
                            delimiter: ",",
                            transformResult: function(response) {

                                if(map.isExist() && response !== null) {
                                    map.clear();
                                }

                                return {
                                    suggestions: $.map($.parseJSON(response), function(item) {

                                        if(map.isExist()) {
                                            map.addMarker(
                                                item.lon,
                                                item.lat,
                                                item.city
                                                    + "," + item.street
                                                    + "-" + item.number,
                                                    8);
                                        }

                                        return {
                                            value: item.city
                                            + "," + item.street
                                            + "-" + item.number,
                                            data: item.id
                                        };
                                    })
                                };
                            }
                        });
                    });
                /*]]>*/
            </script>
        </div>
    </body>
</html>